html,
body {
  padding: 0;
  margin: 0;
}

.App {
  display: grid;
  grid-template-areas:
    ". . . ."
    ". . . ."
    ". . . .";
  height: 100vh;
  width: 100vw;
}

.EmojiCell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}
